<footer class="row justify-content-center redes-sociales" style="color: white;text-align: center; font-family: 'Times New Roman', Times, serif;font-size: 20px">
    <div class="col-auto"> 
        <div class="row justify-content-center">
            <a href="https://web.facebook.com/GorillaAbsolute"><img src="../../../assets/img/iconos/faceW.png" alt=""></a>
            <a href="https://www.instagram.com/gorillaabsolutechetumal/"><img src="../../../assets/img/iconos/instaW.png" alt=""></a>
            <a href="https://www.youtube.com/channel/UCXAprigfoSb3v7gFp1XhugQ"><img src="../../../assets/img/iconos/youtubeW2.png" alt=""></a> 
        </div>
        &copy; Gorilla Absolute 2023 <br>
        Todos los Derechos Reservados
    </div>    
</footer>