<div class="container" id="tercero">
    <h2 class="subtitulo text-center"><span>Servicios</span></h2>
    <div class="row servicios justify-content-around">
        <article class="col-10 col-sm-5">
            <figure class="text-center">
                <img class="iconos" src="./assets/img/iconos/icono2.ico" alt="">
                <figcaption>
                    <p>
                        <strong class="mb-2">Desarrollo e Implementación de Sistemas, Aplicaciones Móviles y Páginas Web.</strong>
                    </p>
                        <div class="w-100">
                            <p>
                            Recuerda que entramos en una nueva era de tecnologías, es tiempo que tú o tu negocio también formen parte de ella. 
                            </p>
                        </div>
                </figcaption>
            </figure>
        </article>

        <article class="col-10 col-sm-5">
            <figure class="text-center">
                <img class="iconos" src="./assets/img/iconos/icono1.ico" alt="">
                <figcaption>
                    <p>
                        <strong class="mb-2">
                            Reparación y diagnóstico de Equipos de Cómputo y Celulares Inteligentes
                        </strong>
                        </p>
                        <div class="w-100">
                            <p>
                            Si tu equipo presenta problemas, acude a nosotros, haremos el trabajo difícil mientras tú te relajas.
                            </p>
                        </div>
                </figcaption>
            </figure>
        </article>

        <article class="col-10 col-sm-5">
            <figure class="text-center">
                <img class="iconos" src="./assets/img/iconos/icono3.ico" alt="">
                <figcaption>
                    <p>
                        <strong class="mb-2">
                            Consultas y Asesorías de Proyectos y Sistemas.   
                        </strong>
                    </p>
                        <div class="w-100">
                            <p>
                            Si tienes dudas sobre un proyecto que quieras realizar, agenda con nosotros, podemos asesorarte y orientarte.
                            </p>
                        </div>
                </figcaption>
            </figure>
        </article>

        <article class="col-10 col-sm-5">
            <figure class="text-center">
                <img class="iconos" src="./assets/img/iconos/icono4.ico" alt="">
                <figcaption>
                    <p>
                        <strong class="mb-2">  
                            Ventas de Equipos Ensamblados (Profesionales y/o Gamers)
                        </strong>
                    </p>
                        <div class="w-100">
                            <p>
                            Quieres armar una computadora acorde a tus necesidades o una computadora gamer pero no sabes cómo iniciar, nosotros te decimos cómo.! 
                            </p>
                        </div>
                </figcaption>
            </figure>
        </article>

    </div>
</div>