<div class="container">
    <div id="segundo" class="row productos">
        <article class="col-12 text-center">
            <h2 class="subtitulo"><span>¿Qué Hacemos?</span></h2>
            <p class="titulo">Nuestros Productos</p>
            <p>En nuestra tienda física y también virtual tenemos un amplio surtido de productos tecnológicos y gadgets que podrán interesarte, te invitamos que pases un momento para conocerlos.</p>
            <p style="font-size: medium; font-family:'Courier New', Courier, monospace;font-weight: bold;">Nota: Los productos que veras disponibles en nuestra tienda han pasado por nuestras duras pruebas de funcionamiento, esto con el fin de brindarte productos que realmente cumplan con lo que ofrecen. así que puedes comprar con total confianza y certeza que funcionaran.</p>
        </article>

        <div class="col-12">
            <div class="row justify-content-center">                        
                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/img/productos/producto1.jpg" class="img-fluid"alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto" style="text-align: center;">Dispositivo <br> Carga Inalámbrica</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/img/productos/producto2.jpg" class="img-fluid"alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto" style="text-align: center;">Cable Cargador <br> Iphone</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/img/productos/producto3.jpg" class="img-fluid"alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto" style="text-align: center;">Mouse Inalámbrico <br> Recargable</p>
                        </figcaption>
                    </figure>
                </article>

                <article class="col-6 col-lg-3 py-1">
                    <figure class="producto">
                        <img src="../../../assets/img/productos/producto4.jpg" class="img-fluid"alt="">
                        <figcaption class="overlay">
                            <p class="overlay-texto" style="text-align: center;">Cable Cargador <br> V8</p>
                        </figcaption>
                    </figure>
                </article>

                <button class="d-block btn-productos" onclick="location.href='https://www.facebook.com/GorillaAbsolute/shop/?ref_code=search_hcm_cta&ref_surface=global_search'">Todos los Productos</button>
            </div>
        </div>
    </div>
</div>