<div class="container">
    <div id="primero" class="row nosotros justify-content-center">
        <div class="col-12 text-center">
            <h2 class="subtitulo"><span>Nuestro Trabajo</span></h2>
                <h3 class="titulo socios" style="margin-bottom:0px ;">Empresas Evolucionando</h3>
                <p>
                    -No te quedes atrás y da el paso a la siguiente era-
                </p>
        </div>
    </div>
    <div class="row servicios justify-content-center">
                <img class="empresas" src="./assets/img/socios/logoITresNegro.png" alt="" >
                <img class="empresas" src="./assets/img/socios/PuntoDelDeporteMZ.png" alt="" >
                <img class="empresas" src="./assets/img/socios/torito.png" alt="" >
    </div>
</div>