<div class="wrapper">
    <div class="main">
        <app-fondo></app-fondo>
        <div class="todo">
            <app-quienes-somos></app-quienes-somos>
            <app-productos></app-productos>
            <app-separador></app-separador>
            <app-servicios><</app-servicios>
            <app-carousel></app-carousel>
            <app-nuestro-trabajo></app-nuestro-trabajo>
            <app-donde-encontrarnos></app-donde-encontrarnos>
            <app-footer></app-footer>
        </div>
    </div>
</div>
