<div class="container">
    <div id="primero" class="row nosotros justify-content-center">
        <div class="col-12 text-center">
            <h2 class="subtitulo"><span>¿Quiénes Somos?</span></h2>
                <h3 class="titulo">Es Tiempo de Evolucionar</h3>
                <p>
                    Somos una empresa 100% chetumaleña, dedicada a brindar servicios informáticos de calidad y honestidad.
                    Nuestro principal objetivo es dotar de sistemas, tecnologías y servicios informáticos a todas aquellas empresas que deseen mejorar sus procesos y/o servicios.</p>
                <a href="https://www.facebook.com/GorillaAbsolute/about" class="enlace">Mira Más</a>
        </div>
    </div>
</div>